body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    /* background-color: skyblue; */
    background-image: url("https://github.com/ImKennyYip/flappy-bird/blob/master/flappybirdbg.png?raw=true");
}